<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <span class="sub-title">SERVICES DETAILS</span>
            <h1>{{serviceDetailsData?.title}}</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/services">
                        Services
                    </a>
                </li>
                <li>{{serviceDetailsData?.title}}</li>
            </ul>
        </div>
    </div>
    <div class="shape4"><img src="assets/img/shape/shape5.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape6.png" alt="shape"></div>
</div>

<!-- Services Details Area -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="services-details-sidebar">
                    <div class="story">
                        <img src="{{serviceDetailsData?.image}}" alt="success-story">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="x"
                                data-sub-html="<p>Watch Video</p>"
                            >
                                <div class="popup-video">
                                    Watch Video
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="quote">
                        <div *ngFor="let qoute of  serviceDetailsData?.quotes">
                            “{{qoute}}”
                            <br>
                            <br>
                        </div>

                    </div>
                    <div class="row">
                        <div *ngFor="let funfact of  serviceDetailsData?.funfactsData?.slice(0,2)" class="col-lg-6 col-md-3 col-6">
                            <div class="single-funfacts-box">
                                <p>{{funfact.subTitle}}</p>
                                <h3>{{funfact.number}}</h3>
                                <p>{{funfact.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="services-details-desc">
                    <h3>{{serviceDetailsData?.title}}</h3>
                   
                    <div markdown ngPreserveWhitespaces>
                        {{serviceDetailsData?.description}}
                    </div>
                     </div>
            </div>
        </div>
    </div>
</div>

<app-how-it-works [howItWorksData]="serviceDetailsData.howItWorks"></app-how-it-works>

<app-pricing [pricingData]="serviceDetailsData.pricingData"></app-pricing>

<app-funfacts  [funfactsData]="serviceDetailsData.funfactsData"></app-funfacts>

<app-partner [partnerData]="serviceDetailsData.partnerData"></app-partner>

<div class="pb-100">
    <app-subscribe></app-subscribe>
</div>