<div class="features-area pt-100 pb-75" *ngIf="featuresData">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">{{featuresData.subTitle}}</span>
            <h2>{{featuresData.title}}</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let content of featuresData.items">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="{{content.icon}}"></i>
                    </div>
                    <h3>{{content.title}}</h3>
                    <p>{{content.paragraph}}</p>
                </div>
            </div>
        </div>
    </div>
</div>