<div class="about-area pt-100" style="background-image: url(assets/img/bg2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image" *ngIf="aboutData">
                    <img [src]="aboutData.image.data.attributes.url" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content d-flex">
                    <div class="content" *ngIf="aboutData">
                        <span class="sub-title">{{aboutData.subTitle}}</span>
                        <h2>{{aboutData.title}}</h2>
                        <p>{{aboutData.paragraph}}</p>
                        <a routerLink="{{aboutData.buttonLink}}" class="default-btn">
                            {{aboutData.buttonText}} <i class="flaticon-right"></i>
                        </a>
                    </div>
                    <div class="partner-list" *ngIf="aboutPartnersData">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6" *ngFor="let item of aboutPartnersData.partners">
                                <div class="item">
                                    <img [src]="item.image.data.attributes.url" alt="partner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-100"></div>